<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main" aria-expanded="false">
				<span class="sr-only">Toggle</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">am07068</a>
		</div>
		<div class="collapse navbar-collapse" id="main">
			<ul class="nav navbar-nav">
				<li><a routerLink="/forma" routerLinkActive="active">Forma</a></li>
				<li><a routerLink="/dati" routerLinkActive="active">Dati</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div>
